[submodule "hatchet"]
	path = hatchet
	url = https://github.com/LLNL/hatchet.git
[submodule "Caliper"]
	path = Caliper
	url = https://github.com/LLNL/Caliper.git
[submodule "spotbe"]
	path = spotbe
	url = https://lc.llnl.gov/bitbucket/scm/spot2/spotbe.git

[submodule "spotfe"]
	path = spotfe
	url = https://lc.llnl.gov/bitbucket/scm/spot2/spotfe.git
